<h1>Results are...</h1>

<ul class="list-group">
  <li class="list-group-item">...</li>
  <li class="list-group-item">...</li>
  <li class="list-group-item">...s</li>
  <li class="list-group-item">...</li>
  <li class="list-group-item">...</li>
</ul>