<div class="jumbotron">
  <h1>Calorie Count!</h1>
  <p>Plug in the restaurant to find out the best option</p>
  
<form action="/restaurants_output">
  <label for="restaurant">Restaurant</label>
  <input type="text" id="restaurant" name="restaurant">
  <p><a class="btn btn-primary btn-lg" href="/restaurants/results" role="button">search</a></p>
</form>


</div>
